@{
    @model IEnumerable<NFLData.Models.PlayerModel>
    ViewBag.title = "Quarterback Stats";
}

<h2 class="text-center">NFL 2016 Regular Season Quarterback Stats</h2>
<hr />
@if (Model == null)
{
    <h4>Please Enter the name of the QB you want to search for.</h4>
    <form role="form" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Quarterback" name="Quarterback" type="text" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
        <br />
        @Html.ActionLink("All Quarterbacks Stats(Entire Year)", "AllQBStats")
    </form>
    <br />

}
else if (Model != null)
{
    <h4>Please Enter the name of the QB you want to search for.</h4>
    <form role="form" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="Quarterback" name="Quarterback" type="text" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>
    <br />
    @Html.ActionLink("All Quarterbacks Stats(Entire Year)", "AllQBStats")
    <br />
    @Html.ActionLink("Reset Search", "About")
    <hr />

    <table class="table table-bordered table-striped table-responsive table-hover">
        <tr class="info">
            @*<th>
                Game
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Quarterback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YardsPerAttempt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Touchdown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interception)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Long)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPoints)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.HomeOrAway)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>*@
        </tr>

        @*@{int rowNo=0;}*@

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @(rowNo+=1)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Quarterback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Completion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Attempt)
                </td>                  
                <td>
                    @Html.DisplayFor(modelItem => item.Yards)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YardsPerAttempt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Touchdown)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Interception)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Long)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.HomeOrAway)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>*@
            </tr>
        }
    </table>
}

