@{
    @model IEnumerable<NFLData.Models.YardageModel>
}
<h3>NFL 2016 Regular Season Quarterback Yards</h3>
<hr />
@if (Model == null)
{
    <h4>Please Enter the name of the QB you want to search for.</h4>
        <form role="form" method="post">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="Quarterback" name="Quarterback" type="text" autofocus>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </fieldset>
        </form>
        <br />
        @Html.ActionLink("All Quarterbacks Yardage","AllQBYards")
        <br />
}
else if (Model != null)
{
    <h4>Please Enter the name of the QB you want to search for.</h4>
        <form role="form" method="post">
            <fieldset>
                <div class="form-group">
                    <input class="form-control" placeholder="Quarterback" name="Quarterback" type="text" autofocus>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </fieldset>
        </form>
        <br />
        @Html.ActionLink("All Quarterbacks Yardage(Most to Least)", "AllQBYards")
        <br />
        @Html.ActionLink("Reset Search", "QuarterbackYards")
        <hr />

    <table class="table table-bordered table-striped table-responsive table-hover" >
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Quarterback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yards)
            </th>          
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quarterback)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Yards)
                </td>              
            </tr>
        }
    </table>
}


