@{
    ViewBag.Title = "Teams";
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Tests/MyJavascript.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

}

<script>
    $(function () {
        $('.panel').hover(function () {
            $(this).find('.panel-footer').slideDown(250);
        }, function () {
            $(this).find('.panel-footer').slideUp(250); //.fadeOut(205)
        });
    })
</script>

<h3>Teams</h3>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">               
                <div class="panel-body">     
                    <img class="img-responsive img-center" src="/Images/arizona-cardinals-logo.png">             
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Arizona Cardinals", "TeamChoice", "Home", new { name = "Arizona Cardinals" , picture = "arizona-cardinals-logo.png"}, null)</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="/Images/dallas-cowboys-logo.png" >
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Dallas Cowboys", "TeamChoice","Home",new { name = "Dallas Cowboys" , picture = "dallas-cowboys-logo.png"},null)</span></div>
            </div>
        </div>       
    </div>
</div>

@*<div class="container">
    <div class="row">
        @for (var i = 1; i < 5; i++)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive img-center" src="~/Images/NFLlogos/atlanta-falcons-logo.png" alt="">
                        <p>I will show the footer panel with a Badge</p>
                    </div>
                    <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
                </div>
            </div>
        }
    </div>
</div>*@  


