@{
    ViewBag.Title = "ChosenTeam";
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    @model NFLData.Models.TeamModel
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
    </style>
</head>
<body>
    <br />
    <div class="container">

        <div class="col-lg-4">

            <img src="@ViewBag.Logo" class="img-responsive" />
            <h1>@Model.TeamName</h1>

        </div>

        <div class="col-lg-4">
            <br />
            <b>@Html.DisplayNameFor(modelItem => Model.TeamName)</b>
            <br />
            <a href="https://en.wikipedia.org/wiki/@Model.TeamName">@Model.TeamName</a>
            <br />
            <b>@Html.DisplayNameFor(modelItem => Model.TeamCity)</b>
            <br />
            <a href="https://en.wikipedia.org/wiki/@Model.TeamCity">@Model.TeamCity</a>
            <br />
            <b>@Html.DisplayNameFor(modelItem => Model.TeamDivision)</b>
            <br />
            <a href="https://en.wikipedia.org/wiki/@Model.TeamDivision">@Model.TeamDivision</a>

        </div>

        <div class="col-lg-4">
            <br />
            <b>@Html.DisplayNameFor(modelItem => Model.TeamHeadCoach)</b>
            <br />
            <a href="https://en.wikipedia.org/wiki/@Model.TeamHeadCoach">@Model.TeamHeadCoach</a>
            <br />
            <b>@Html.DisplayNameFor(modelItem => Model.TeamStadium)</b>
            <br />
            <a href="https://en.wikipedia.org/wiki/@Model.TeamStadium">@Model.TeamStadium</a>
            <br />
            <b>@Html.DisplayNameFor(modelItem => Model.TeamStadiumCapacity)</b>
            <br />
            @Model.TeamStadiumCapacity
            <br />
            <b>Stadium Latitude/Longitude:</b> 
            <br />
            @Model.Latitude/@Model.Longitude

         </div>

    </div>

    <hr />

    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: @Model.Latitude , lng: @Model.Longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAouj0O35FNcvrh1pbfq_ksRGmjDY_WD9I&callback=initMap">
    </script>
</body>
</html>