@{
    ViewBag.Title = "Teams";
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Tests/MyJavascript.js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

}

<script>
    $(function () {
        $('.panel').hover(function () {
            $(this).find('.panel-footer').slideDown(500);
        }, function () {
            $(this).find('.panel-footer').slideUp(500); 
        });
    })
</script>

<h3>Teams</h3>
<hr />
<div class="container">
    <div class="row">@*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">               
                <div class="panel-body">     
                    <img class="img-responsive img-center" src="~/FixedImages/arizona-cardinals-logo.png">             
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Arizona Cardinals", "TeamChoice", "Home", new { name = "Arizona Cardinals" , picture = "arizona-cardinals-logo.png"}, new {style="color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/atlanta-falcons-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Atlanta Falcons", "TeamChoice", "Home", new { name = "Atlanta Falcons", picture = "atlanta-falcons-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>   
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/baltimore-ravens-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Baltimore Ravens", "TeamChoice", "Home", new { name = "Baltimore Ravens", picture = "baltimore-ravens-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>  
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/buffalo-bills-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Buffalo Bills", "TeamChoice", "Home", new { name = "Buffalo Bills", picture = "buffalo-bills-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>            
    </div>
    <div class="row">@*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/carolina-panthers-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Carolina Panthers", "TeamChoice", "Home", new { name = "Carolina Panthers", picture = "carolina-panthers-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/chicago-bears-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Chicago Bears", "TeamChoice", "Home", new { name = "Chicago Bears", picture = "chicago-bears-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>  
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/cincinnati-bengals-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Cincinnati Bengals", "TeamChoice", "Home", new { name = "Cincinnati Bengals", picture = "cincinnati-bengals-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>  
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/cleveland-browns-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Cleveland Browns", "TeamChoice", "Home", new { name = "Cleveland Browns", picture = "cleveland-browns-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>   
    </div>
    <div class="row">@*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/dallas-cowboys-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Dallas Cowboys", "TeamChoice", "Home", new { name = "Dallas Cowboys", picture = "dallas-cowboys-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/denver-broncos-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Denver Broncos", "TeamChoice", "Home", new { name = "Denver Broncos", picture = "denver-broncos-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/detroit-lions-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Detroit Lions", "TeamChoice", "Home", new { name = "Detroit Lions", picture = "detroit-lions-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/green-bay-packers-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Green Bay Packers", "TeamChoice", "Home", new { name = "Green Bay Packers", picture = "green-bay-packers-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
    </div>
    <div class="row">@*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/houston-texans-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Houston Texans", "TeamChoice", "Home", new { name = "Houston Texans", picture = "houston-texans-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/indianapolis-colts-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Indianapolis Colts", "TeamChoice", "Home", new { name = "Indianapolis Colts", picture = "indianapolis-colts-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/jacksonville-jaguars-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Jacksonville Jaguars", "TeamChoice", "Home", new { name = "Jacksonville Jaguars", picture = "jacksonville-jaguars-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/kansas-city-chiefs-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Kansas City Chiefs", "TeamChoice", "Home", new { name = "Kansas City Chiefs", picture = "kansas-city-chiefs-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
    </div>
    <div class="row"> @*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/los-angeles-chargers-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Los Angeles Chargers", "TeamChoice", "Home", new { name = "Los Angeles Chargers", picture = "los-angeles-chargers-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/miami-dolphins-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Miami Dolphins", "TeamChoice", "Home", new { name = "Miami Dolphins", picture = "miami-dolphins-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/minnesota-vikings-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Minnesota Vikings", "TeamChoice", "Home", new { name = "Minnesota Vikings", picture = "minnesota-vikings-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/new-england-patriots-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("New England Patriots", "TeamChoice", "Home", new { name = "New England Patriots", picture = "new-england-patriots-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
    </div>
    <div class="row"> @*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/new-orleans-saints-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("New Orleans Saints", "TeamChoice", "Home", new { name = "New Orleans Saints", picture = "new-orleans-saints-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/new-york-giants-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("New York Giants", "TeamChoice", "Home", new { name = "New York Giants", picture = "new-york-giants-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/new-york-jets-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("New York Jets", "TeamChoice", "Home", new { name = "New York Jets", picture = "new-york-jets-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/oakland-raiders-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Oakland Raiders", "TeamChoice", "Home", new { name = "Oakland Raiders", picture = "oakland-raiders-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
    </div>
    <div class="row">@*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/philadelphia-eagles-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Philladelphia Eagles", "TeamChoice", "Home", new { name = "Philladelphia Eagles", picture = "philladelphia-eagles-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/pittsburgh-steelers-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Pittsburgh Steelers", "TeamChoice", "Home", new { name = "Pittsburgh Steelers", picture = "pittsburgh-steelers-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/san-francisco-49ers-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("San Fransisco 49ers", "TeamChoice", "Home", new { name = "San Fransisco 49ers", picture = "san-fransisco-49ers-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/seattle-seahawks-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Seattle Seahawks", "TeamChoice", "Home", new { name = "Seattle Seahawks", picture = "seattle-seahawks-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
    </div>
    <div class="row">@*NEW ROW*@
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/st-louis-rams-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Los Angeles Rams", "TeamChoice", "Home", new { name = "Los Angeles Rams", picture = "st-louis-rams-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/tampa-bay-buccaneers-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Tampa Bay Buccaneers", "TeamChoice", "Home", new { name = "Tampa Bay Buccaneers", picture = "tampa-bay-buccaneers-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/tennessee-titans-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Tennessee Titans", "TeamChoice", "Home", new { name = "Tennessee Titans", picture = "tennessee-titans-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive img-center" src="~/FixedImages/washington-redskins-logo.png">
                </div>
                <div class="panel-footer"><span class="badge">@Html.ActionLink("Washington Redskins", "TeamChoice", "Home", new { name = "Washington Redskins", picture = "washington-redskins-logo.png" }, new { style = "color:white" })</span></div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div class="row">
        @for (var i = 1; i < 5; i++)
        {
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="img-responsive img-center" src="~/Images/NFLlogos/atlanta-falcons-logo.png" alt="">
                        <p>I will show the footer panel with a Badge</p>
                    </div>
                    <div class="panel-footer"><a href="#"><span class="badge">42</span></a></div>
                </div>
            </div>
        }
    </div>
</div>*@  


