@{
    ViewBag.Title = Model.TeamName;
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    @model NFLData.Models.TeamModel
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 300px;
            width: 100%;
        }

        .info-item{
                margin-bottom:50px;
                  }
    </style>
</head>
<body>
    <br />
    <div class="container">

        <div class="col-lg-4">
            <div class="info-item">
                <img src="@ViewBag.Logo" class="img-responsive" />
                <h1><b>@Model.TeamName</b></h1>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="info-item">
                <h3><b>@Html.DisplayNameFor(modelItem => Model.TeamName)</b></h3>
                <br />
                <h4><a href="https://en.wikipedia.org/wiki/@Model.TeamName">@Model.TeamName</a></h4>
            </div>

            <div class="info-item">
                <h3><b>@Html.DisplayNameFor(modelItem => Model.TeamCity)</b></h3>
                <br />
                <h4><a href="https://en.wikipedia.org/wiki/@Model.TeamCity">@Model.TeamCity</a></h4>
            </div>

            <div class="info-item">
                <h3><b>@Html.DisplayNameFor(modelItem => Model.TeamDivision)</b></h3>
                <br />
                <h4><a href="https://en.wikipedia.org/wiki/@Model.TeamDivision">@Model.TeamDivision</a></h4>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="info-item">
                <h3><b>@Html.DisplayNameFor(modelItem => Model.TeamHeadCoach)</b></h3>
                <br />
                <h4><a href="https://en.wikipedia.org/wiki/@Model.TeamHeadCoach">@Model.TeamHeadCoach</a></h4>
            </div>
            <div class="info-item">
                <h3><b>@Html.DisplayNameFor(modelItem => Model.TeamStadium)</b></h3>
                <br />
                <h4><a href="https://en.wikipedia.org/wiki/@Model.TeamStadium">@Model.TeamStadium</a></h4>
            </div>
            <div class="info-item">
                <h3><b>@Html.DisplayNameFor(modelItem => Model.TeamStadiumCapacity)</b></h3>
                <br />
                <h4>@Model.TeamStadiumCapacity</h4>
            </div>

         </div>

    </div>

    <hr />

    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: @Model.Latitude , lng: @Model.Longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAouj0O35FNcvrh1pbfq_ksRGmjDY_WD9I&callback=initMap">
    </script>
</body>
</html>