@{

    ViewBag.Title = "StatChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model NFLData.Models.StatComparison
}

<h2 class="text-center">Quarterback Comparison Statistics Charts</h2>
<hr />

@if (Model == null)
{
    <h4>Please Enter the names of the QB's you want to search for.</h4>
    <form role="form" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="First Quarterback(Matt Ryan)" name="quarterback1" type="text" autofocus>
                <br />
                <input class="form-control" placeholder="Second Quarterback(Aaron Rodgers)" name="quarterback2" type="text" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>
}
else if (Model != null)
{
    <h4>Please Enter the names of the QB's you want to search for.</h4>
    <form role="form" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="First Quarterback(Matt Ryan)" name="quarterback1" type="text" autofocus>
                <br />
                <input class="form-control" placeholder="Second Quarterback(Aaron Rodgers)" name="quarterback2" type="text" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>

    @*need to find a way to add all the charts into one item so its no overloaded*@

    @*first chart for yards*@
    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Quarterback', 'Yards'],
          ['@Model.QBName',  @Model.QBYards],
          ['@Model.QB2Name',   @Model.QB2Yards],
        ]);

        var options = {
            title: 'Yardage Comparison',
            colors: ['#42f4eb','#0038A8']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
        </script>
    </head>
    <body>
        
        
    </body>
    </html>

    @*second chart for touchdowns*@
    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Quarterback', 'Touchdowns'],
          ['@Model.QBName',  @Model.QBTouchdown],
          ['@Model.QB2Name',   @Model.QB2Touchdown],
        ]);

          var options = {
              title: 'Touchdown Comparison',
              colors: ['#42f4eb','#0038A8']

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

        chart.draw(data, options);
      }
        </script>
    </head>
    <body>
        
        
    </body>
    </html>

    @*third chart for rate*@
    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Quarterback', 'Yards'],
          ['@Model.QBName',  @Model.QBRate],
          ['@Model.QB2Name',   @Model.QB2Rate],
        ]);

        var options = {
            title: 'Quarterback Rating',
            colors: ['#42f4eb','#0038A8']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

        chart.draw(data, options);
      }
        </script>
    </head>
    <body>
        

    </body>
    </html>

    @*third chart for yards*@
    <html>
    <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Quarterback', 'Yards'],
          ['@Model.QBName',  @Model.QBTotal],
          ['@Model.QB2Name',   @Model.QB2Total],
        ]);

        var options = {
            title: 'Total Points Scored',
            colors: ['#42f4eb','#0038A8']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

        chart.draw(data, options);
      }
        </script>
    </head>
    <body>
        

    </body>
    </html>

    @*display for all the graphs and their data*@
    <div class="container">

        <div id="piechart" class="col-lg-6 " style="width: 50%; height: 500px; "></div>
        <div id="piechart1" class="col-lg-6 " style="width: 50%; height: 500px; "></div>

    </div>
    <hr />
    <div class="container">

        <div id="piechart2" class="col-lg-6 " style="width: 50%; height: 500px; "></div>
        <div id="piechart3" class="col-lg-6 " style="width: 50%; height: 500px; "></div>

    </div>
    
}
