@{

    ViewBag.Title = "StatChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model NFLData.Models.YardageModel
}

<h2 class="text-center">Statistics Chart</h2>
<hr />

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', '@Model.Quarterback', 'AB'],
          ['2013',  @Model.Yards,      400],
          ['2014',  @Model.Yards,      460],
          ['2015',  @Model.Yards,       1120],
          ['2016',  @Model.Yards,      540]
        ]);

        var options = {
          title: 'Player Performance',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
</body>
</html>


