@{
    ViewBag.Title = "StatChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model NFLData.Models.StatComparison

}

<h2 class="text-center">Quarterback Comparison Statistics Charts</h2>
<hr />

@if (Model == null)
{
    <h4>Please Enter the names of the QB's you want to search for.</h4>
    @*<form role="form" method="post">
        <fieldset>
            <div class="form-group">
                @Html.DropDownList("AllNames", "---Select A QB---",new { id="quarterback1"});
                <br />
                @Html.DropDownList("AllNames", "---Select A QB---",new { id="quarterback2"});
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>*@

    <br />
    using (Html.BeginForm("StatChart", "Charts", FormMethod.Post))
    {
        <fieldset>
            @Html.DropDownList("AllNames", "---Select A QB---")
            <br />
            @Html.DropDownList("AllNames2", "---Select A QB---")
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>
    }
    <br />
    
}
else if (Model != null)
{
    <h4>Please Enter the names of the QB's you want to search for.</h4>
    @*<form role="form" method="post">
        <fieldset>
            <div class="form-group">
                <input class="form-control" placeholder="First Quarterback(Matt Ryan)" name="quarterback1" type="text" autofocus>
                <br />
                <input class="form-control" placeholder="Second Quarterback(Aaron Rodgers)" name="quarterback2" type="text" autofocus>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>*@
    <br />
    using (Html.BeginForm("StatChart", "Charts", FormMethod.Post))
    {
        <fieldset>
            @Html.DropDownList("AllNames", "---Select A QB---")
            <br />
            @Html.DropDownList("AllNames2", "---Select A QB---")
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>
    }
    <br />

    @*begin script for google charts for qb comparison stats*@
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);
        function drawCharts() {
            var data1 = google.visualization.arrayToDataTable([
            ['Quarterback', 'Yards'],
            ['@Model.QBName',  @Model.QBYards],
            ['@Model.QB2Name',   @Model.QB2Yards],
                ]);

            var options1 = {
                legend:'bottom',
                title: 'Yardage Comparison',
                colors: ['#42f4eb', '#0038A8'],
                is3D: true,
                slices: {
                    1:{offset: 0.1}
                },
            };

            var chart1 = new google.visualization.PieChart(document.getElementById('piechart1'));

            chart1.draw(data1, options1);

            var data2 = google.visualization.arrayToDataTable([
               ['Quarterback', 'Touchdowns'],
               ['@Model.QBName',  @Model.QBTouchdown],
               ['@Model.QB2Name',   @Model.QB2Touchdown],
            ]);

            var options2 = {
                legend: 'bottom',
                title: 'Touchdown Comparison',
                colors: ['#42f4eb', '#0038A8'],
                is3D: true,
                slices: {
                    1: { offset: 0.1 }
                },

            };

            var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

            chart2.draw(data2, options2);

            var data3 = google.visualization.arrayToDataTable([
                ['Quarterback', 'QB Rating'],
                ['@Model.QBName',  @Model.QBRate],
                ['@Model.QB2Name',   @Model.QB2Rate],
            ]);

            var options3 = {
                legend: 'bottom',
                title: 'Quarterback Rating',
                colors: ['#42f4eb', '#0038A8'],
                is3D: true,
                slices: {
                    1: { offset: 0.1 }
                },
            };

            var chart3 = new google.visualization.PieChart(document.getElementById('piechart3'));

            chart3.draw(data3, options3);

            var data4 = google.visualization.arrayToDataTable([
            ['Quarterback', 'Total Points'],
            ['@Model.QBName',  @Model.QBTotal],
            ['@Model.QB2Name',   @Model.QB2Total],
            ]);

            var options4 = {
                legend: 'bottom',
                title: 'Total Points Scored',
                colors: ['#42f4eb', '#0038A8'],
                is3D: true,
                slices: {
                    1: { offset: 0.1 }
                },
            };

            var chart4 = new google.visualization.PieChart(document.getElementById('piechart4'));

            chart4.draw(data4, options4);





        }
    </script>

    <hr />
    @*display for qb comparison stats*@
    <div class="container">
        <h3 class="text-center"><b>Name:</b> @Model.QBName , <b>Total Yards:</b> @Model.QBYards , <b>Total TDS:</b> @Model.QBTouchdown</h3>
        <h3 class="text-center"><b>Name:</b> @Model.QB2Name , <b>Total Yards:</b> @Model.QB2Yards , <b>Total TDS:</b> @Model.QB2Touchdown</h3>
        <div id="piechart1" class="col-lg-6 " style="width: 50%; height: 400px; "></div>
        <div id="piechart2" class="col-lg-6 " style="width: 50%; height: 400px; "></div>

    </div>

    <hr />

    <div class="container">
        <h3 class="text-center"><b>Name:</b> @Model.QBName , <b>Average Rating:</b> @Model.QBRate , <b>Total Points:</b> @Model.QBTotal</h3>
        <h3 class="text-center"><b>Name:</b> @Model.QB2Name , <b>Average Rating:</b> @Model.QB2Rate , <b>Total Points:</b> @Model.QB2Total</h3>
        <div id="piechart3" class="col-lg-6 " style="width: 50%; height: 400px; "></div>
        <div id="piechart4" class="col-lg-6 " style="width: 50%; height: 400px; "></div>

    </div>

}
